ty {
    padding: 20px;
}
.community_content h2 {
    color: var(--main-color);
    font-size: x-large;
    font-style: italic;
}
.community_content h4 {
    color: var(--main-color);
    font-size: large;
    font-style: italic;
}

h4 {
    color: var(--main-color);
    font-size: large;
    font-style: italic;
}
.community_content p {
    /* width: 90px; */
    line-height: 1.3;
}
.over_view {
    display: flex;
    padding: 20px;
}
.over_view .another_roadmap {
    width: 350px;
    height: 300px;
    margin-right: 10px;
    background-color: #eee;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    }
.over_view .another_roadmap img {
    width: 200px;
    height: 150px;
    position: relative;
    padding-top: 20px;
}
.over_view .another_roadmap h5 a{
    font-size: large;
    font-weight: bold;
    font-style: italic;
    color: rgb(19, 19, 87);
}
.over_view .another_roadmap p {
    align-items: center;
    padding-left: 15px;
    line-height: 1.6;
    margin-top: -5px;
}
