{% extends 'base.html' %}
{% block body %}
        <div class="community">
            <div class="community_content">
                <h2>Community</h2>
                <h4>Join our community, whether it's public community or roadmap-specific communities</h4>
                <p>Welcome to our thriving community, where learning knows no bounds!Our plateform offers a diverse array of roadmaps,
                    meticulously curated to guide you through various fields, including artificial intelligence, mobile developement,
                    machine learning and data sciencs.These roadmaps serve as your compass, leading you through a structured journey of skill acquisition
                    and mastry.Whether you're navigating the intricate landscapes of AI or honing your skills in mobile app developement 
                    ,our roadmaps provide clear paths to success.
                </p>
                <p> But the journey doesn't stop there.Our roadmap system extends beyond theses tracks, offering a multible of paths tailored to your interests and ambitions
                    Explore new horizons in cybersecurity, delve into the world of cloud computing, or immerse yourself in the realms of web developement
                    and beyond
                </p>
                <p> Join our vibrant community of learners,where you'll find support, guidance, and endless opportunities
                    for growthTogether, let's ambark on a journey of learning, discovery, and innovation.Welcome aboard!
                </p>
            </div>
            <hr>
            <h4>Join our most popular roadmap-specific community</h4>
            <div class="over_view">
                <div class="another_roadmap">
                        <img src="../static/images/mob.jpg" alt=""/>
                        <h5>
                            <a href="{ uurl_for('') }}">Mobile developement</a>
                        </h5>
                        <p> Creating user-centric experiences for every device and plateform</p>
                </div>
                <div class="another_roadmap">
                        <img src="../static/images/artificial-intelligence.jpg" alt=""/>
                        <h5>
                            <a href="Artificial_intelligence"> Artificial Intelligence</a>
                        </h5>
                        <p> Unleashing the power of intelligent systems for tomorrow's world</p>
                </div>
                <div class="another_roadmap">
                        <img src="../static/images/machine learning.jpeg" alt=""/>
                        <h5>
                            <a href="#machine_learning">Machine Learning</a>
                        </h5>
                        <p>Unlocking patterns and predictions in data for informed decision-making </p>
                </div>
                <div class="another_roadmap">
                        <img src="../static/images/data science.jpg" alt=""/>
                        <h5>
                            <a href="#data_science">Data Science</a>
                        </h5>
                        <p>Decoding the language of data to uncover insights and drive innovation </p>
                </div>
                <div class="another_roadmap">
                    <img src="../static/images/web developement 2.webp" alt=""/>
                    <h5>
                        <a href="#web_devop">Web developement</a>
                    </h5>
                    <p>Web developers create functional, user-friendly websites and web applications.</p>
            </div>
            </div>
        </div>
{% endblock %}
