{% extends 'base.html' %}
{% block body %}
<div class="full_stack">
    <div class="vendors">
        <div class="box">
            <div class="title">Elzero</div>
            <img decoding="async" src="../static/images/elzero.png" alt="" />
            <div class="price">
                <span class="amount">$30</span>
                <span class="time">Per Month</span>
            </div>
            <a href="#">Join</a>
        </div>
        <div class="box">
            <div class="title">Coursera</div>
            <img decoding="async" src="../static/images/coursera-agencies.webp" alt="" />
            <div class="price">
                <span class="amount">$45</span>
                <span class="time">Per Month</span>
            </div>
            <a href="#">Join</a>
        </div>
        <div class="box">
            <div class="title">Alx</div>
            <img src="../static/images/alx.jpg" alt="" />
            <div class="price">
                <span class="amount">$30</span>
                <span class="time">Per Month</span>
            </div>
            <a href="#">Join</a>
        </div>
    </div>
</div>
{% endblock %}
