{% extends "base.html" %}
{% block body %}
        <!-- start landing -->
        <div class="landing">
            <div class="container">
                <div class="text">
                    <h1>Welcome, to Techie Mate</h1>
                    <p>If you lose your interest and energy, if you don't have your roardmap or partner to enjoy the journey, welcome to Techie Mate!</p>
                </div>
                <div class="image">
                    <img decoding="async" src="../static/images/landing 5.png" alt="" />
                </div>
            </div>
        </div>
        <!-- end landing -->
{% endblock %}
